body{
    background-color: #4a575d;
}
#checkout-page{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cor_botao{
    background:#96e5f8 ;
    transition: 0.5s;
}
.cor_botao:hover{
    background-color: #36d3fa;
}
